:root{
    --open-sans: 'Open Sans', sans-serif;
    --gray:rgb(246, 242, 242);
    --gray-300: rgb(236, 234, 234);
    --gray-500: rgb(192, 187, 187);
    --nykaa-pink: #FC2779;
}

body{
    overflow: hidden;
}

.c-img img:hover, .c-main-img img:hover, .img img:hover, .delete-btn .btn i:hover, .delete-btn-video .btn-video i:hover, .video video:hover, .image-div-video a:hover, .video-div-video a:hover, .image-div a:hover, .video-div a:hover, .btn-up, .btn-down, .c-checkout-btn-video button, .c-checkout-btn button{ 
    cursor: pointer;
}

 .img img:hover{
    transform: scale(1.2);
    transition: all ease-in 0.2s;
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-300);
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.body-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: var(--gray-300); */
}

.c-body{
    background-color: #fff;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: 500px;
    display: grid;
    grid-template-columns: 40% 60%;
    z-index: 0;
}

.c-imgs{
    width: 100%;
    max-height: 95%;
    display: grid;
    grid-template-columns: 25% 75%;
    border-right: 1px solid rgb(211, 210, 210);
}

.c-img-slider-container{
    width: 100%;
    max-height: 100%;
    padding: 20px;
}

.c-img-slider-container .c-img-slider{
    overflow: scroll;
    width: 100%;
    max-height: 320px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;  
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.c-img-slider-container .c-img-slider .c-img{
    width: 50px;
    height: 55px;
    padding: 5px;
    border: 1px solid rgb(211, 210, 210);
    text-align: center;
}

.c-slider-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: 10px;
}

.btn-up, .btn-down{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 5px;
}

.c-main-img-container{
    width: 100%;
    height: 100%;
    padding: 20px;
}


.c-description{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c-title, .c-prices, .tax, .offers, .c-checkout{
    margin-bottom: 15px;
}

.c-title h3{
    font-size: 19px;
    font-family: var(--open-sans);
    font-weight: 500;
}

.c-rating-qa{
    width: 70%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c-rating-qa .stars{
    font-size: 14px;
    color: rgb(71, 71, 71);
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.star{
    margin-right: 4px;
}

.star-text p{
    color: #111;
    font-family: var(--open-sans);
    font-weight: 600;
}

.c-rating-qa p {
    color: #111;
    font-family: var(--open-sans);
    font-weight: 600;
    font-size: 13px;
    padding-right: 10px;
    border-right: 2px solid var(--gray);
}

.c-rating-qa p:nth-child(3){
    padding-left: 10px;
    border: none;
}

.c-prices .prev-price{
    padding-right: 15px;
    font-family:  var(--open-sans);
    font-size: 15px;
    opacity: 0.5; 
}

.c-prices .prev-price span{
    text-decoration: line-through;
}

.c-prices .current-price{
    padding-right: 10px;
    font-family:  var(--open-sans);
    font-size: 15px;
    font-weight: 700;
}

.c-prices .off{
    padding-right: 15px;
    font-family:  var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    color: var(--nykaa-pink);
}

.tax p{
    padding-right: 15px;
    font-family:  var(--open-sans);
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7;
}

.offers{
    background-color: var(--gray-300);
    padding: 10px;
    padding-left: 30px;
    padding-right: 5px;
}

.offers ul li{
    font-size: 11px;
    font-family: var(--open-sans);
    line-height: 150%;
    opacity: 0.8;
}

.c-checkout{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.c-checkout .c-checkout-btn{
    padding: 50px 30px;
    border-right: 2px solid var(--gray-300);
    margin-right: 20px;
}

.c-checkout .c-checkout-btn button{
    color: #fff;
    background-color: var(--nykaa-pink);
    font-size: 16px;
    font-family: var(--open-sans);
    font-weight: 500px;
    text-align: center;
    height: 45px;
    width: 230px;
    border: none;
}

.c-checkout .c-checkout-textbox .location-tab{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.c-checkout .c-checkout-textbox .location-tab span i:nth-child(1){
    font-size: 22px;
    margin-right: 10px;
    opacity: 0.8;
}

.c-checkout .c-checkout-textbox .location-tab span:nth-child(2){
    font-family: var(--open-sans);
    font-size: 14px;
    opacity: 0.8;
}

.input-box{
    border: 1px solid var(--gray-300);
    padding: 7px 11px;
}

.input-box input{
    border: none;
    user-select: none;
    outline: none;
    font-size: 11px;
}

.input-box a{
    text-decoration: none;
    color: var(--nykaa-pink);
    font-size: 14px;
    font-family: var(--open-sans);
    font-weight: 600;
}

/* Product model */

.p-model-container{ 
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #fff;
    display: none;
}

.p-main-image-container{
    width: 100%;
    max-height: 600px;
    border-right: 1px solid var(--gray-300);
}

.p-main-image-container .main-image{
    max-height: 100%;
    width: 100%;
    /* padding-top: 20px; */
    padding-bottom: 100px;
}

.p-main-image-container .main-image img{
    max-height: 450px;
}


.delete-btn {
    padding-left: 20px;
    padding-top: 20px;
}

.delete-btn .btn{
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn .btn i{
    color: #fff;
    font-weight: 100;
}

.p-side-menu-container{
    max-height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--gray-300);
}

.image-div , .video-div{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    text-align: center;
    margin-right: 5px;
}

.active-div{
    border-bottom: 2px solid var(--nykaa-pink);
}

.image-div a{
    color: var(--nykaa-pink);
}

.image-div a, .video-div a{
    font-size: 15px;
    font-family: var(--open-sans);
    text-decoration: none;
    /* color: var(--nykaa-pink); */
    color: #111;
    font-weight: 600;
}

.menu-images{
    width: 100%;
    max-height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    border-bottom: 2px solid var(--gray-300);
}

.menu-images::-webkit-scrollbar {
  width: 5px;
}

.menu-images::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.menu-images::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(170, 171, 173);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.img{
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--gray-500);
}

.p-info-container{
    padding: 20px 20px;
}

.title{
    font-size: 13px;
    font-family: var(--open-sans);
    font-weight: 400;
    margin-bottom: 10px;
}

.p-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-checkout .c-checkout-btn{
    padding: 10px 10px;
    width: 100%;
}

.p-checkout .c-checkout-btn button{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--nykaa-pink);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    letter-spacing: 1.2px;
}


/* product video model */

/* Product model */

.p-model-container-video{ 
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #222;
    display: none;
}

.p-main-video-container{
    width: 100%;
    max-height: 100%;
    background-color: #111;
    border-radius: 20px 0px 0px 20px;
}

.p-main-video-container .main-video{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    border-radius: 20px 0px 0px 20px;
}

.playingVideo{
    font-family: var(--open-sans);
    font-size: 12px;
    color: var(--nykaa-pink);
    border: 1px solid var(--nykaa-pink);
    padding: 3px 6px;
    position: absolute;
    bottom: 6%;
    right: 3%;
}


.delete-btn-video {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delete-btn-video h2{
    font-family: var(--open-sans);
    font-size: 15px;
    color: #fff;
}

.delete-btn-video .btn-video{
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.delete-btn-video .btn-video i{
    color: #111;
    font-weight: 100;
}

.p-side-menu-container-video{
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-video{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--gray-300);
}

.image-div-video , .video-div-video{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    text-align: center;
    margin-right: 5px;
}

.active-div{
    border-bottom: 3px solid #e481a7;;
}

.image-div-video a{
    color: var(--nykaa-pink);
}

.image-div-video a, .video-div-video a{
    font-size: 15px;
    font-family: var(--open-sans);
    text-decoration: none;
    /* color: var(--nykaa-pink); */
    color: #fff;
    font-weight: 600;
}

.menu-videos{
    width: 100%;
    max-height: 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--gray);
}

.menu-videos::-webkit-scrollbar {
  width: 5px;
}

.menu-videos::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.menu-videos::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(170, 171, 173);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.video{
    width: 300px    ;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #e481a7;
}

.video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-info-container-video{
    padding: 20px 20px;
}

.title-video{
    font-size: 13px;
    color: #fff;
    font-family: var(--open-sans);
    font-weight: 400;
    margin-bottom: 10px;
}

.p-checkout-video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-checkout-video .c-checkout-btn-video{
    padding: 10px 10px;
    width: 100%;
}

.p-checkout-video .c-checkout-btn-video button{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #e481a7;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    letter-spacing: 1.2px;
}

.video-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
}

.video-info p{
    color: #fff;
    font-family: var(--open-sans);
    font-size: 13px;
}


.c-prices-video .prev-price-video{
    padding-right: 5px;
    font-family:  var(--open-sans);
    font-size: 12px;
    color: #fff;
    opacity: 0.6; 
}

.c-prices-video .prev-price-video span{
    text-decoration: line-through;
}

.c-prices-video .current-price-video{
    padding-right: 10px;
    font-family:  var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-right: 1px solid var(--gray);
}

.c-prices-video .off-video{
    padding-right: 15px;
    font-family:  var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    color: #e481a7;
}


/* mobile model style */

.btn i:hover{
    cursor: pointer;
}

.video-btn-delete i:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100vh;
    display: none;
}

.mobile-model-container{
    min-width: 320px;
    max-width: 768px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;
}

.navbar-container{
    width: 100%;
    min-width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.delete-btn {
    margin-right: 25px;
    margin-bottom: 15px;
}

.navigate-btns{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.image-btn, .video-btn{
    text-align: center;
    padding: 5px 20px;
    border: 1px solid var(--gray-300);
}

.image-btn a, .video-btn a{
    text-decoration: none;
    color: #111;
    font-family: var(--open-sans);
    font-size: 14px; 
}

.image-btn a{
color: var(--nykaa-pink);
}

.image-btn{
    background-image: linear-gradient(rgba(252,39,121,0.1), rgba(252,39,121,0.1));
    border: 1px solid rgba(252,39,121,0.5);
}

.main-image-container{
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    overflow-x: hidden;
}

.main-image-container::-webkit-scrollbar {
  display: none;
}

.mobile-img{
    width: 100%;
    max-height: 100px;
    max-height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0px 10px;
}

 .mobile-img:nth-child(1){
    left: 0%;
}

.mobile-img:nth-child(2){
    left: 100%;
}

.mobile-img:nth-child(3){
    left: 200%;
}

.mobile-img:nth-child(4){
    left: 300%;
}

.mobile-img:nth-child(5){
    left: 400%;
}

.mobile-img:nth-child(6){
    left: 500%;
}

.mobile-img:nth-child(7){
    left: 600%;
}

.mobile-img:nth-child(8){
    left: 700%;
}

.mobile-img:nth-child(9){
    left: 800%;
}

.mobile-img:nth-child(10){
    left: 900%;
} 


.mobile-img{
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.sticky-div{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 55%;
    overflow: scroll;
}

.sticky-div::-webkit-scrollbar {
  display: none;
}

.mobile-menu-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 15px 10px; 
}

.mobile-menu{
    margin-right: 10px;
    border: 1px solid #111;
    border-radius: 10px;
    width: 90px;
    height: 95px;
    padding: 5px;
}

.footer-btn{
    width: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto  ;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--nykaa-pink); */
    position: relative;
    top: 63%;
    border-radius: 5px;
}

 /*.like-btn{
    padding: 2px;
    text-align: center;
 }

 .like-btn i{
     font-size: 21px;
     color: var(--nykaa-pink)
 }

.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nykaa-pink);
    padding: 10px;
    text-align: center;
    text-align: center;
} 

.cart-text{
    padding: 0px 10px;
}

.cart-logo i{
    font-size: 21px;
    color: #fff;
}

.cart-btn .cart-text p{
    font-family: var(--open-sans);
    color: #fff;
    font-weight: 700; 
    font-size: 14px;   
} */

.mobile-img img{
    transition: transform 0.3s ease-in-out;
}

/* video container style */

.mobile-video-container{
    height: 100vh;
    width: 100vw;   
    min-width: 320px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #111;
    overflow-y: hidden;
    display: none;
}

.video-navbar-container{
    width: 100%;
    min-width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.video-delete-btn {
    margin-right: 25px;
    color: #fff;
}


.video-navigate-btns{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.video-image-btn, .video-video-btn{
    text-align: center;
    padding: 5px 20px;
    border: 1px solid var(--gray-300);
}

.video-image-btn a, .video-video-btn a{
    text-decoration: none;
    color: #fff;
    font-family: var(--open-sans);
    font-size: 14px; 
}

.video-video-btn a{
color: var(--nykaa-pink);
}

.video-video-btn{
    background-image: linear-gradient(rgba(252,39,121,0.1), rgba(252,39,121,0.1));
    border: 1px solid rgba(252,39,121,0.5);
}

.playing-video-container{
    background-color: #111;
    max-width: 100%;
    min-width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-container video{
    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 

    width: 100%;
    height: 100%;  

    object-fit: cover;
}

.video-menubox{
    background-color: #111;
    width: 100%;
    height: 60%;
    max-height: 290px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 20px;
    padding: 20px 10px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(0%);
    transition: transform 1s ease-in-out;
    position: relative;
}

.video-menubox::-webkit-scrollbar {
 display: none;
}

.video-menubox::-webkit-scrollbar {
  width: 3px;
}

.video-menubox::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.video-menubox::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(170, 171, 173);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}


.video-menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 10px;
}

/* .video-outer{
    max-height: 200px;
    margin-bottom: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: #e481a7;
} */

.mobile-video{
    max-width: 140px;
    max-height: 150px;
    border-radius: 5px;
    border: 1px solid var(--gray-300);
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.mobile-video img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-text p{
    color: #fff;
    font-family: var(--open-sans);
    padding: 3px;
    font-size: 12px;
}

.video-footer{
    margin-left: auto;
    margin-right: auto;
    background-color: #f570a3;
    transition: transform 0.5s ease-in-out;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    border: 1px solid #111;
}

.video-like-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f570a3;
    background-color: #333;
    border: none;
}

.video-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: #f570a3 1px solid;
    height: 50px;
    color: #222;
    font-family: var(--open-sans);
    font-size: 12px;
    font-weight: 500;
}

.video-cart-text{
    padding: 0px 10px;
}

.video-cart-container:hover, .video-like-btn:hover{
    cursor: pointer;
}

/* setting play symbol on thumbnail image */

/* .mobile-video{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mobile-video i{
    color: #fff;
    font-size: 50px;
}

.getMenuUp{
    transform: translateY(-15%);
}

.getFooterDown{
    transform: translateY(0%);
} */

/* trying previous model style */

.footer-btn{
    width: 100%;
    max-width: 100%;
    height: 200px;
    transform: translateY(-45%);
    padding-right: 16px;
    padding-bottom: 16px;
}


.mobile-p-info-container{
    width: 350%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

.mobile-p-info-container .title{
    font-size: 13px;
    font-family: var(--open-sans);
    font-weight: 400;
    margin-bottom: 10px;
}

.mobile-p-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-p-checkout .c-checkout-btn{
    width: 100%;
}

.mobile-p-checkout .c-checkout-btn button{
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    background-color: var(--nykaa-pink);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}


/* mobile video footer button */

.video-footer{
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: grid;
    margin-top: -5px;
    padding: 5px 5px 4px 20px;
}

.video-footer .mobile-p-info-container{
    width: 400%;
}

.video-footer .mobile-p-info-container .title{
color: #fff;
}

.video-footer .mobile-prices .prev-price{
    color: #fff;
    opacity: 0.7;
}

.video-footer .mobile-prices .current-price{
    color: #fff;
}



@media screen and (max-width: 768px){
    /* .p-model-container-video{
        display: none;
    } */

     /* .body-container{
        display: none;
    } 

     .c-body{
        display: none;
    } */

    /* .p-model-container{
        display: none;
    } */

    /* .mobile-model-container{
        display: block;
    }

    .container{
        display: block;
        background-color: #fff;
    } */

    body{
        background-color: #fff;
    }

}
